<h1><%= @household.name %></h1>

<h2>Address: <%=@household.address%></h2>
<h3>Revenue: $<%=@household.revenue%></h3>

<h2>Contacts</h2>
<% @household.contacts.each do |contact| %>
  <a href="/contacts/<%=contact.id%>"><h3><%= contact.first_name %> <%= contact.last_name %></h3></a>
<% end %>

<br><br>
<a href="/households/<%= @household.id%>/edit">Edit Household</a>
<p><a href="/contacts/new">Add Contact</a></p>

<br><br>
<form action="/households/<%=@household.id%>/delete" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Household">
</form>
